.header
{
    font-size: 25px;
    height: 72px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.content
{
    font-size: 14px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.th
{
    box-shadow: 0px 0px 4px 1px var(--base-color-dark-rgb);
    padding: 8px;
    float: left;
}